.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/webview-ui/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!src/webview-ui/**/*.css
**/.vscode-test.*
